<%- include('header.ejs', { config: config }); %>
  <title><%= config.name %></title>
  <style>
    .home ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }
    .home li {
      font-size: 24px;
      font-weight: bold;
    }
    .home ul ul {
      border-left: 1px dashed #333;
      margin: 5px 0 5px 8px;
    }
    .home li li {
      padding-left: 10px;
      position: relative;
      font-weight: 300;
      font-size: 18px;
      line-height: 40px;
    }
    .home li li::before {
      content: ' ';
      display: block;
      position: absolute;
      top: 50%;
      width: 9px;
      height: 9px;
      box-sizing: border-box;
      border: 1px dashed red;
      border-radius: 50%;
      left: -5px;
      transform: translateY(-50%);
      background: white;
    }
    .home li a {
      text-decoration: none;
      color: #333;
    }
    .slogan {
      text-align: center;
    }
    @media screen and (max-width: 800px) {
      .home {
        padding: 0 20px;
      }
    }
  </style>
</head>
<body data-version="1.0.0">
  <header><%= config.name %></header>
  <p class="slogan"><%= config.slogen %></p>
  <div class="body home">
    <ul>
      <% list.forEach(function(item) { %>
        <li><%- item.year %>
          <ul>
            <% item.subList.forEach(function(subItem) { %>
              <li>
                <span><%- subItem.month %>-<%- subItem.day %></span>
                &nbsp;&nbsp;/&nbsp;&nbsp;
                <a href="./article/<%- subItem.filename %>.html"><%- subItem.title %></a>
              </li>
            <% }); %>
          </ul>
        </li>
      <% }); %>
    </ul>
  </div>
<%- include('footer.ejs', { config: config }); %>